.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
}

.description + .description {
  margin-top: 0;
}

.description a {
  color: #0070f3;
  text-decoration: none;
  margin: 0 0.25rem;
}

.description a:hover,
.description a:focus,
.description a:active {
  text-decoration: underline;
}
