.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
}

.description a {
  color: #0070f3;
  text-decoration: none;
}

.description a:hover,
.description a:focus,
.description a:active {
  text-decoration: underline;
}
