.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.grid > * {
  width: 100%;
}

@media (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
